/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body { 
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}
/*Стили для header*/
.header {
    position: relative;
    background-color: #2C2C2C;
    height: 505px;
}
.ava img {
    width: 428px;
    height: 426px;
    padding-left: 120px;
    padding-top: 40px;
    float: left;
    position: absolute;
}
.wrapper_name {
font-size: 72px;
font-weight: bold;
padding-top: 164px;
padding-left: 638px;
color: white;
max-width: 617px;
position: absolute;
}
.wrapper_location {
    padding-top: 329px;
    padding-left: 638px;
    font-weight: 500;
    font-size: 48px;
    color: white;
    position: absolute;
}
.contacts_wrapper {
    font-style: normal;
    font-size: 52px;
    font-weight: 500px;
    color: white;
    position: absolute;
    padding-top: 102px;
    padding-left: 1892px;
}
.contact {
    position: absolute;
    font-weight: 500;
    font-size: 48px;
    color: white;
}
.phone {
padding-top: 224px;
padding-left: 1666px;
position: absolute;
}
.email {
padding-top: 329px;
padding-left: 1666px;
position: 
}
.phone_img img {
    position: absolute;
    padding-top: 224px;
    padding-left: 1551px;
}
.email_img img {
    position: absolute;
    padding-top: 335px;
    padding-left: 1551px;
}
/*Стили для main*/
.main {
    background-color: white;
    position: relative;
    height: 2749px;
}
.myself_img img {
    position: absolute;
    padding-top: 116px;
    padding-left: 180.93px;
}
.about_myself {
padding-top: 120px;
padding-left: 313px;  
color: #4B76C4;
font-weight: bold;
font-size: 72px;  
line-height: 86px;
position: absolute;
}
.line2 img {
    position: absolute;
    padding-top: 160px;
    padding-left: 819px;
}
.text_myself {
    font-weight: normal;
    font-size: 52px;
    color: #2C2C2C;
    line-height: 84px;
    width: 2080px;
    padding-top: 346px;
    padding-left: 181px;
}
.skills_img img {
    position: absolute;
    padding-top: 245px;
    padding-left: 180.93px;
}
.skills_wrapper {
    position: absolute;
    font-weight: bold;
    font-size: 72px;
    color: #4B76C4;
    padding-top: 252px;
    padding-left: 318.43px;
}
.skills_list {
    position: absolute;
    font-weight: bold;
    font-size: 47px;
    line-height: 100px;
    padding-top: 412px;
    padding-left: 310.12px;
    color: #2C2C2C;
}
.dots1 img {
    position: absolute;
    padding-top: 452px;
    padding-left: 226.42px;
}
.line1 img{
    position: absolute;
    padding-top: 296.5px;
    padding-left: 742.32px;
}
.edu_img {
    position: absolute;
    padding-top: 216px;
    padding-left: 1328px;
}
.edu_wrap {
    position: absolute;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #4B76C4;
    padding-top: 230px;
    padding-left: 1431.29px;
}
.dote2 img {
    position: absolute;
    padding-top: 399px;
    padding-left: 1328px;
}
.edu_text {
    position: absolute;
    padding-top: 370px;
    padding-left: 1422.85px;
    font-weight: bold;
    font-size: 47px;
    color: #2C2C2C;
    width: 616.19px;
    line-height: 100px;
}
.line3 img {
    position: absolute;
    padding-top: 297px;
    padding-left: 2128.78px;
}
/*Стили для footer*/
.footer {
    background-color: #2C2C2C;
    height: 254px;
}