*
/*Стили для header*/
.header {
    position: relative;
    background-color: #2C2C2C;
    max-height: 505px;
}
/*Стили для main*/
.main {
    background-color: rgb(204, 161, 243);
    height: 75%;
}
/*Стили для footer*/
.footer {
    background-color: rgb(194, 113, 129);
    height: 10%;
}