* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: ;
 color: ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: ;
 font-family: ;
}

button {
 cursor: pointer;
}

.header {
    background-color: rgb(179, 248, 214);
    height: 20%;
}
.main {
    background-color: rgb(204, 161, 243);
    height: 60%;
}
.footer {
    background-color: rgb(194, 113, 129);
    height: 20%;
}